.tripList {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  width: 100%;
  flex-basis: calc((100% - 40px) / 3);

  flex-wrap: nowrap;
}
.pageBtns {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  font-size: 32px;
}
