.container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  padding: 20px;
}
.dayForecast {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.dayForecast h2 {
  font-size: 24px;
  font-weight: bold;
}
.inline {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.temp {
  font-size: 32px;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.city {
  font-size: 24px;
}
.timer {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.value {
  font-size: 32px;
  font-weight: bold;
}
.label {
  font-size: 16px;
  letter-spacing: 0.2;
}
